.contact-section {
  padding: 100px 0;
  position: relative;
  overflow: hidden;
}

.contact-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}

.form-group :hover {
  cursor: pointer;
}

.contact-headline {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
}

.headline-line {
  height: 4px;
  width: 100px;
  background-color: #9747FF;
}

h2 {
  font-size: 68px;
  font-weight: 700;
}

.contact-content {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.contact-text {
  flex-basis: 45%;
}

h3 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

.contact-text p {
  font-size: 18px;
  line-height: 1.6;
  max-width: 471px;
}

.contact-cta {
  margin-top: 20px;
}

form {
  flex-basis: 55%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.form-group {
  width: 100%;
  position: relative;
}

input,
textarea {
  width: 100%;
  padding: 18px;
  border: 1px solid #9747FF;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  background-color: transparent;
  color: white;
  transition: border-color 0.3s ease;
}

input:hover,
textarea:hover {
  border-color: #70E61C;
}

input.error-border,
textarea.error-border {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

textarea {
  min-height: 180px;
  resize: vertical;
}

.privacy-policy {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 14px;
}

.privacy-policy input[type="checkbox"] {
  display: none;
}

.privacy-policy label {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  white-space: nowrap;
}

.privacy-policy label::before {
  content: '';
  width: 20px;
  height: 20px;
  border: 2px solid #70E61C;
  border-radius: 4px;
  display: inline-block;
  margin-right: 10px;
}

.privacy-policy input[type="checkbox"]:checked + label::before {
  background-color: #70E61C;
}

.privacy-policy a {
  color: #70E61C;
}

.btn-submit {
  padding: 15px 30px;
  background-color: #70E61C;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  border: none;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  align-self: flex-start;
}

.btn-submit:disabled {
  background-color: #555555;
  cursor: not-allowed;
  transform: none;
}

.btn-submit:hover:not(:disabled) {
  background-color: #9747FF;
  transform: scale(1.05);
}

.purple-shadow-contact {
  position: absolute;
  top: 35%;
  right: 56%;
  z-index: 1;
  pointer-events: none;
}

@media (max-width: 992px) {
  .contact-container {
    padding: 0 40px;
  }
  .contact-content {
    flex-direction: column;
  }
  .privacy-policy label {
    white-space: normal;
  }
}