.contact-section {
  padding: 80px 40px;
}

.contact-container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

h2 {
  font-size: 68px;
  font-weight: 900;
  color: #FFFFFF;
}

.contact-intro {
  font-size: 20px;
  color: #E0E0E0;
  max-width: 600px;
  margin: -20px auto 50px auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: left;
}

.form-group {
  width: 100%;
}

input,
textarea {
  width: 100%;
  padding: 20px;
  border: 2px solid #9747FF;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  color: #000000;
}

textarea {
  min-height: 200px;
  resize: vertical;
}

.btn-submit {
  padding: 15px 30px;
  background-color: #70E61C;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  border: none;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: center;
}

.btn-submit:hover {
  background-color: #5dbd11;
}