<section id="about-me" class="about-me-section">
  <div class="about-me-container">
    <h2>About Me</h2>
    <p>
      Hallo! Ich bin Stephan, ein aufstrebender Frontend-Entwickler aus Deutschland mit einer großen Leidenschaft für die Gestaltung von ansprechenden und benutzerfreundlichen Webanwendungen. Derzeit absolviere ich ein intensives Bootcamp bei der Developer Akademie, um meine Fähigkeiten in modernen Technologien wie Angular und TypeScript zu vertiefen.
    </p>
    <p>
      Mein Ziel ist es, sauberen, effizienten und wartbaren Code zu schreiben, um großartige Benutzererlebnisse zu schaffen. Ich freue mich darauf, bald auch in die Backend-Entwicklung einzutauchen, um mein Wissen zu erweitern und Full-Stack-Anwendungen zu realisieren.
    </p>
  </div>
</section>