<section id="about-me" class="about-me-section">
  <div class="about-me-container">
    <img src="assets/img/shadows/about-me-shadow.png" alt="" class="about-me-shadow">
    <div class="about-me-text">
      <h2>{{ 'about.title' | translate }}</h2>
      <p>{{ 'about.p1' | translate }}</p>
      <div class="info-point">
        <img src="assets/img/icons/location.svg" alt="Location Icon">
        <span>{{ 'about.info1' | translate }}</span>
      </div>
      <div class="info-point">
        <img src="assets/img/icons/lightbulb.svg" alt="Lightbulb Icon">
        <span>{{ 'about.info2' | translate }}</span>
      </div>
      <div class="info-point">
        <img src="assets/img/icons/puzzle.svg" alt="Puzzle Icon">
        <span>{{ 'about.info3' | translate }}</span>
      </div>
    </div>
    <div class="about-me-image">
      <div class="image-frame">
        <img src="assets/img/profile-image2.png" alt="Ein Bild von Stephan Wacker">
      </div>
    </div>
  </div>
</section>