.portfolio-section {
  padding: 100px 40px;
}

.portfolio-container {
  max-width: 1440px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.portfolio-intro {
  font-size: 20px;
  color: #E0E0E0;
  max-width: 700px;
  margin: 0 auto 100px auto;
  text-align: center;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 150px;
}

.project-item {
  display: flex;
  align-items: center;
  gap: 80px;
}

.project-item:nth-child(even) {
  flex-direction: row-reverse;
}

.project-image {
  flex-basis: 50%;
}

.project-image img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.project-description {
  flex-basis: 50%;
  text-align: left;
}

h3 {
  font-size: 32px;
  font-weight: 700;
  color: #9747FF;
  margin: 0 0 15px 0;
}

.project-tech-stack {
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.project-links {
  display: flex;
  gap: 20px;
}

.btn-primary, .btn-secondary {
  padding: 15px 30px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  transition: all 0.3s ease;
  display: inline-block;
}

.btn-primary {
  background-color: #9747FF;
  color: white;
}

.btn-primary:hover {
  transform: scale(1.05);
  background-color: #7d33e6;
}

.btn-secondary {
  background-color: transparent;
  color: #70E61C;
  border: 1px solid #70E61C;
}

.btn-secondary:hover {
  background-color: #70E61C;
  color: white;
}

@media (max-width: 992px) {
  .project-item, .project-item:nth-child(even) {
    flex-direction: column;
    text-align: center;
  }

  .project-description {
    text-align: center;
  }

  .project-links {
    justify-content: center;
  }
}