<section id="portfolio" class="portfolio-section">
  <div class="portfolio-container">
    <h2>{{ 'portfolio.title' | translate }}</h2>
    <p class="portfolio-intro">{{ 'portfolio.intro' | translate }}</p>
    <div class="project-list">
      <div class="project-item">
        <div class="project-image">
          <img src="assets/img/portfolio/join.png" alt="Projektbild von Join">
        </div>
        <div class="project-description">
          <h3>Join</h3>
          <p class="project-tech-stack">JavaScript | HTML | CSS</p>
          <div class="project-links">
            <a href="#" class="btn-primary" target="_blank">{{ 'portfolio.button_live' | translate }}</a>
            <a href="#" class="btn-secondary" target="_blank">{{ 'portfolio.button_github' | translate }}</a>
          </div>
        </div>
      </div>
      <div class="project-item">
        <div class="project-image">
          <img src="assets/img/portfolio/pokedex.png" alt="Projektbild von Pokedex">
        </div>
        <div class="project-description">
          <h3>Pokedex</h3>
          <p class="project-tech-stack">JavaScript | HTML | CSS</p>
          <div class="project-links">
            <a href="https://gokudoma.github.io/Pokedex/" class="btn-primary" target="_blank">{{ 'portfolio.button_live' | translate }}</a>
            <a href="https://github.com/Gokudoma/Pokedex" class="btn-secondary" target="_blank">{{ 'portfolio.button_github' | translate }}</a>
          </div>
        </div>
      </div>
      <div class="project-item">
        <div class="project-image">
          <img src="assets/img/portfolio/el-pollo-loco.png" alt="Projektbild von El Pollo Loco">
        </div>
        <div class="project-description">
          <h3>El Pollo Loco</h3>
          <p class="project-tech-stack">JavaScript | HTML | CSS</p>
          <div class="project-links">
            <a href="https://gokudoma.github.io/El-pollo-loco/" class="btn-primary" target="_blank">{{ 'portfolio.button_live' | translate }}</a>
            <a href="https://github.com/Gokudoma/El-pollo-loco" class="btn-secondary" target="_blank">{{ 'portfolio.button_github' | translate }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>