<section id="portfolio" class="portfolio-section">
  <div class="portfolio-container">
<img src="assets/img/shadows/green-portfolio-shadow.png" alt="" class="green-portfolio-shadow">
    <div class="portfolio-headline">
      <div class="headline-line"></div>
      <h2>{{ 'portfolio.title' | translate }}</h2>
      <div class="headline-line"></div>
    </div>

    <p class="portfolio-intro">{{ 'portfolio.intro' | translate }}</p>
    <div class="project-list">
      <div class="project-item">
        <div class="project-image">
          <img src="assets/img/portfolio/join.png" alt="Projektbild von Join">
        </div>
        <div class="project-description">
          <h3>Join</h3>
          <p class="project-tech-stack">JavaScript | HTML | CSS</p>
          <p class="project-details">{{ 'portfolio.join_description' | translate }}</p>
          <div class="project-links">
            <a href="https://stephan-wacker.de/join" class="btn-primary" target="_blank">{{ 'portfolio.button_live' | translate }}</a>
            <a href="https://github.com/Gokudoma/join" class="btn-secondary" target="_blank">{{ 'portfolio.button_github' | translate }}</a>
          </div>
        </div>
      </div>
      <div class="project-item">
        <div class="project-image">
          <img src="assets/img/portfolio/pokedex.png" alt="Projektbild von Pokedex">
        </div>
        <div class="project-description">
          <h3>Pokedex</h3>
          <p class="project-tech-stack">JavaScript | HTML | CSS</p>
          <p class="project-details">{{ 'portfolio.pokedex_description' | translate }}</p>
          <div class="project-links">
            <a href="https://gokudoma.github.io/Pokedex/" class="btn-primary" target="_blank">{{ 'portfolio.button_live' | translate }}</a>
            <a href="https://github.com/Gokudoma/Pokedex" class="btn-secondary" target="_blank">{{ 'portfolio.button_github' | translate }}</a>
          </div>
        </div>
      </div>
      <div class="project-item">
        <div class="project-image">
          <img src="assets/img/portfolio/el-pollo-loco.png" alt="Projektbild von El Pollo Loco">
        </div>
        <div class="project-description">
          <h3>El Pollo Loco</h3>
          <p class="project-tech-stack">JavaScript | HTML | CSS</p>
          <p class="project-details">{{ 'portfolio.el_pollo_loco_description' | translate }}</p>
          <div class="project-links">
            <a href="https://gokudoma.github.io/El-pollo-loco/" class="btn-primary" target="_blank">{{ 'portfolio.button_live' | translate }}</a>
            <a href="https://github.com/Gokudoma/El-pollo-loco" class="btn-secondary" target="_blank">{{ 'portfolio.button_github' | translate }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>