<section id="portfolio" class="portfolio-section">
  <div class="portfolio-container">
    <h2>Portfolio</h2>
    <p class="portfolio-intro">
      Hier ist eine Auswahl meiner Projekte. Schauen Sie sich diese gerne an und testen Sie die Anwendungen.
    </p>
    <div class="project-list">

      <div class="project-item">
        <div class="project-image">
          <img src="assets/img/portfolio/join.png" alt="Projektbild von Join">
        </div>
        <div class="project-description">
          <h3>Join</h3>
          <p class="project-tech-stack">JavaScript | HTML | CSS</p>
          <div class="project-links">
            <a href="#" class="btn-link">Live-Test</a>
            <a href="#" class="btn-link">Github</a>
          </div>
        </div>
      </div>

      <div class="project-item">
        <div class="project-image">
          <img src="assets/img/portfolio/el-pollo-loco.png" alt="Projektbild von El Pollo Loco">
        </div>
        <div class="project-description">
            <h3>El Pollo Loco</h3>
            <p class="project-tech-stack">JavaScript | HTML | CSS</p>
            <div class="project-links">
                <a href="https://gokudoma.github.io/El-pollo-loco/" class="btn-link" target="_blank">Live-Test</a>
                <a href="https://github.com/Gokudoma/El-pollo-loco" class="btn-link" target="_blank">Github</a>
            </div>
</div>
      </div>

    </div>
  </div>
</section>