.skills-section {
  padding: 100px 0;
  position: relative;
  overflow: visible;
  background-color: transparent;
}

.skills-container {
  background-color: #141D2F;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 100px;
  position: relative;
  z-index: 2;
  box-sizing: border-box;
}

.skills-icon-grid {
  flex-basis: 55%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 50px 20px;
}

.my-skills-shadow {
  position: absolute;
  top: 394px;
  left: -49px;
  width: 428.59px;
  height: 901.44px;
  z-index: 1;
  pointer-events: none;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.skill-item img {
  height: 70px;
  width: auto;
  transition: transform 0.3s ease;
}

.skill-item span {
  font-size: 18px;
  font-weight: 500;
}

.skill-item:hover {
  img {
    transform: scale(1.1);
  }
  span {
    color: #70E61C;
  }
}

.skills-text-content {
  flex-basis: 45%;
  text-align: left;
  z-index: 3;
}

.skills-headline {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-bottom: 30px;
}

.skills-headline h2 {
    font-size: 68px;
    font-weight: 700;
    margin: 0;
}

.headline-line {
  height: 4px;
  width: 68px;
  background-color: #9747FF;
}

.skills-text-content p {
  font-size: 18px;
  line-height: 1.6;
  max-width: 471px;
}

.skills-text-content .bold-text {
  font-size: 32px;
  font-weight: 700;
}

.skills-text-content .bold-text span {
  color: #FFFFFF;
}

.skills-text-content .bold-text .highlight {
  color: #9747FF;
}

.btn-get-in-touch {
  display: inline-block;
  margin-top: 30px;
  padding: 15px 30px;
  background-color: #70E61C;
  color: white;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.btn-get-in-touch:hover {
  transform: scale(1.05);
  background-color: #9747FF;
}

@media (max-width: 1200px) {
  .skills-container {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .skills-headline {
    justify-content: center;
  }
  .skills-text-content {
      text-align: center;
  }
  .skills-icon-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .skills-section {
    padding: 80px 0;
  }
  .skills-container {
    padding: 0 40px;
  }
  .skills-icon-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}