<section id="skills" class="skills-section">
  <div class="skills-container">
    <div class="skills-icon-grid">
      <div class="skill-item">
        <img src="assets/img/skills/html.svg" alt="HTML5 Logo">
        <span>HTML</span>
      </div>
      <div class="skill-item">
        <img src="assets/img/skills/css.svg" alt="CSS3 Logo">
        <span>CSS</span>
      </div>
      <div class="skill-item">
        <img src="assets/img/skills/javascript.svg" alt="JavaScript Logo">
        <span>JavaScript</span>
      </div>
      <div class="skill-item">
        <img src="assets/img/skills/typescript.svg" alt="TypeScript Logo">
        <span>TypeScript</span>
      </div>
      <div class="skill-item">
        <img src="assets/img/skills/angular.svg" alt="Angular Logo">
        <span>Angular</span>
      </div>
      <div class="skill-item">
        <img src="assets/img/skills/firebase.svg" alt="Firebase Logo">
        <span>Firebase</span>
      </div>
      <div class="skill-item">
        <img src="assets/img/skills/git.svg" alt="Git Logo">
        <span>GIT</span>
      </div>
      <div class="skill-item">
        <img src="assets/img/skills/api.svg" alt="Rest-API Logo">
        <span>Rest-API</span>
      </div>
      <div class="skill-item">
        <img src="assets/img/skills/scrum.svg" alt="Scrum Logo">
        <span>Scrum</span>
      </div>
      <div class="skill-item">
        <img src="assets/img/skills/materialdesign.svg" alt="Material Design Logo">
        <span>Material Design</span>
      </div>
      <div class="skill-item">
        <img src="assets/img/skills/continuallylearning.svg" alt="Continually Learning Icon">
        <span>Continual Learning</span>
      </div>
    </div>
    <div class="skills-text-content">
      <div class="skills-headline">
        <h2>{{ 'skills.title' | translate }}</h2>
        <div class="headline-line"></div>
      </div>
      <p>{{ 'skills.p1' | translate }}</p>
      <p class="bold-text">
        <span>{{ 'skills.p2_1' | translate }}</span>
        <span class="highlight">{{ 'skills.p2_2' | translate }}</span>
        <span>{{ 'skills.p2_3' | translate }}</span>
      </p>
      <p>{{ 'skills.p3' | translate }}</p>
      <a href="#contact" class="btn-get-in-touch">{{ 'skills.button' | translate }}</a>
    </div>
  </div>
</section>