.footer-section {
  background-color: #141D2F;
  border-top: 4px solid #70E61C;
  padding: 60px 100px;
  display: flex;
  justify-content: center;
}

.footer-container {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.footer-brand-section {
  text-align: left;
}

.footer-name {
  font-size: 32px;
  font-weight: 700;
  color: white;
}

.legal-notice {
  display: block;
  margin-top: 5px;
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.footer-copyright {
  font-size: 18px;
}

.footer-socials {
  display: flex;
  gap: 25px;

  img {
    height: 30px;
    width: 30px;
    transition: transform 0.3s ease;
  }

  a:hover img {
    transform: scale(1.2);
  }
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    gap: 40px;
    text-align: center;
  }

  .footer-brand-section, .footer-copyright {
    order: 1;
  }

  .footer-socials {
    order: 2;
  }
}