<footer class="footer-section">
  <div class="footer-container">
    <div class="footer-brand-section">
      <span class="footer-name">Stephan Wacker</span>
      <a routerLink="/impressum" class="legal-notice">{{ 'footer.legal_notice' | translate }}</a>
    </div>
    <div class="footer-copyright">
      <span>© 2025 Stephan Wacker</span>
    </div>
    <div class="footer-socials">
      <a href="https://github.com/Gokudoma" target="_blank">
        <img src="assets/img/icons/github.svg" alt="GitHub Icon">
      </a>
      <a href="mailto:stephanwacker318@gmail.com">
        <img src="assets/img/icons/email.svg" alt="Email Icon">
      </a>
      <a href="https://www.linkedin.com/in/stephan-wacker-705808373/" target="_blank">
        <img src="assets/img/icons/linkedin.svg" alt="LinkedIn Icon">
      </a>
    </div>
  </div>
</footer>