.legal-container {
  max-width: 800px;
  margin: 150px auto 50px auto;
  padding: 40px;
  color: #FFFFFF;
  min-height: 60vh;
}

h1, h2 {
  font-weight: 700;
}

.headline-container {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}

h1 {
  font-size: 48px;
  margin: 0;
  white-space: nowrap;
  color: #70E61C;
}

.headline-line {
  height: 4px;
  width: 100px;
  background-color: #9747FF;
  flex-shrink: 0;
}

.headline-line2 {
  height: 4px;
  background-color: #9747FF;
  flex-grow: 1;
}

h2 {
  font-size: 32px;
  margin-top: 40px;
  margin-bottom: 15px;
  color: #9747FF;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

i {
    display: block;
    margin-top: 40px;
    color: #989898;
}

a {
  color: #70E61C;
  text-decoration: underline;

  &:hover {
    color: #9747FF; 
  }
}

@media (max-width: 768px) {
  .legal-container {
    margin: 100px auto 30px auto;
    padding: 20px;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
  }
}