<section id="hero" class="hero-section">
  <img src="assets/img/herobackground.png" alt="" class="hero-background-image">
  <div class="hero-wrapper">

    <div class="hero-content">
      <div class="image-content">
        <img class="bg-shadow purple-shadow-hero" src="assets/img/shadows/purple.hero.shadow.png" alt="">
        <img class="bg-shadow green-shadow-hero" src="assets/img/shadows/green.hero.shadow.png" alt="">
        <img class="profile-image" src="assets/img/profile-image.png" alt="Ein Bild von Stephan Wacker">
        <img class="profile-elbow" src="assets/img/profile-elbow.png" alt="">
      </div>
      <div class="text-content">
        <h1 class="headline">
          <span class="greeting">{{ 'hero.greeting' | translate }}</span>
          <div class="main-headline">
            <span class="name">{{ 'hero.name' | translate }}</span>
            <span class="title">{{ 'hero.title' | translate }}</span>
          </div>
        </h1>
        <a href="#contact" class="btn-hero-contact">{{ 'hero.button' | translate }}</a>
      </div>
    </div>

    <div class="fixed-socials">
      <div class="social-line"></div>
      <a href="https://github.com/Gokudoma" target="_blank">
        <img src="assets/img/icons/github.svg" alt="GitHub Icon">
      </a>
      <a href="https://www.linkedin.com/in/stephan-wacker-705808373/" target="_blank">
        <img src="assets/img/icons/linkedin.svg" alt="LinkedIn Icon">
      </a>
      <a href="mailto:stephanwacker318@gmail.com">
        <img src="assets/img/icons/email.svg" alt="Email Icon">
      </a>
      <a href="mailto:stephanwacker318@gmail.com" class="email-text">
        stephanwacker318&#64;gmail.com
      </a>
    </div>

    <div class="scroll-down-indicator">
      <span>scroll down</span>
      <img src="assets/img/icons/arrowdown.png" alt="Arrow Down">
    </div>

  </div>
</section>