<section id="hero" class="hero-section">
  <div class="hero-content">

    <div class="image-content">
      <img src="assets/img/profile-image.png" alt="Ein Bild von Stephan Wacker">
    </div>

    <div class="text-content">
      <h1 class="headline">
        <span class="greeting">{{ 'hero.greeting' | translate }}</span>
        <div class="main-headline">
          <span class="name">{{ 'hero.name' | translate }}</span>
          <span class="title">{{ 'hero.title' | translate }}</span>
        </div>
      </h1>
      <a href="#contact" class="btn-hero-contact">{{ 'hero.button' | translate }}</a>
    </div>

  </div>
</section>