<section id="hero" class="hero-section">
  <div class="hero-content">
    <div class="text-content">
      <h1 class="headline">
        <span class="greeting">I am</span>
        <div class="main-headline">
          <span class="name">Stephan Wacker.</span>
          <span class="title">FRONTEND DEVELOPER</span>
        </div>
      </h1>
      <a href="#contact" class="btn-hero-contact">Let's talk!</a>
    </div>
    <div class="image-content">
      <img src="assets/img/profile-image.png" alt="Ein Bild von Stephan Wacker">
    </div>
  </div>
  <div class="hero-background-shape"></div>
</section>