@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/Inter-Variable.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter Tight';
  src: url('assets/fonts/InterTight-Variable.ttf') format('truetype');
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
}