@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter Tight';
  src: url('assets/fonts/Inter-Tight-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

